<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
 
<head th:replace="~{common :: meta_header('書籍編集',~{::link},~{::script})}">
    <title th:text="${title}+' | MTLibrary'"></title>
    <link rel="stylesheet" th:href="@{/css/book/edit.css}" />
    <!-- <script type="text/javascript" th:src="@{/js/book/edit.js}"defer ></script> -->
</head>
 
<body>
    <div class="contents">
        <div th:replace="~{common :: main_sidebar}"></div>
        <div class="main_contents">
            <div th:replace="~{common :: header}"></div>
            <div class="inner_contens">
                <div class="page_title">書籍編集</div>
                <div class="page_contents">
                    </div>
                    <form id="book_register_form" th:object="${bookMstDto}" th:action="@{/book/edit}" method="post">
                        <input type="hidden" th:field="*{id}" />

                        <table>
                            <p style="font-size: 12px; color: red;">*これは必須項目です</p>
                            <span>
                                <a th:href="@{/book/index}" class="link">← 一覧へ戻る</a>
                            </span>
                            <caption></caption>
                            <tbody>
                                <tr>
                                    <th scope="col">書籍名&nbsp;<span style="color:red;">*</span> </th>
                                </tr>
                                <tr>  
                                    <td>
                                        <input type="text" name="title" placeholder="書籍名を入力"  maxlength="300"
                                            style="width: 600px;" th:field="*{title}" />                                      
                                        <div class="error_msg" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                                    </td>  
                                </tr>
                                <tr>
                                    <th scope="col">ISBN&nbsp;<span style="color:red;">*</span></th>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" name="isbn" placeholder="ISBNを入力"  maxlength="255"
                                            style="width: 600px;" th:field="*{isbn}" />
                                        <div class="error_msg" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></div>
                                       
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="submit">変更</button>
                        <div class="mb30 flexarea"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="flash-message" th:if="${infoMessage}" th:attr="data-message=${infoMessage}"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const msg = document.getElementById("flash-message")?.dataset.message;
            if (msg) {
                alert(msg);
            }
        });
    </script>
    <div th:replace="~{common :: footer}"></div>
</body>
</html>